body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 30%;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #ddd;
    background-color: #fff;
}

.card h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #27ae60;
}

.card p {
    text-align: center;
    font-size: 18px;
}

.card button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #27ae60;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.card button:hover {
    background-color: #6ce9a0;
}

.card button.on {
    background-color: #0f0;
}
a{
    text-decoration: none;
    color: white;
}
.card a{
    margin: 10px auto;
    padding: 7rem;
    border: none;
    border-radius: 5px;
    color: #27ae60;
    font-size: 16px;
    cursor: pointer;
    
}