:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);  
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);  
}
*{
    font-family: 'Poppins',sans-serif;
    margin: 0; padding: 0;
    outline: none;border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition:width none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-tumb{
    background: var(--black);
}
.header .header-1{
    background: #fff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .header-1 .logo{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--black);

}
.header .header-1 .logo i{
    color: var(--green);
}
.header .header-1 .login{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--green);

}
.header .header-1 .login i{
    color: var(--green);
}
.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color: var(--green);
}
.header .header-2{
    background: var(--green);
}
.header .header-2 .navbar{
    text-align: center;
}
.header .header-2 .navbar a{
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}
.header .header-2 .navbar a:hover{
    background: var(--dark-color);
}
.header .header-2.active{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    
}
button{
    margin-top: 1rem;
    display: inline-block;
    padding: .1rem 1rem;
    border-radius: 5rem;
    color: #fff;
    background: var(--green);
    font-size: 2rem;
    cursor: pointer;
    padding: 1.5rem 5rem;
    position: absolute;
    left: 40%;
    top: 150%;
    
}
a{
    text-decoration: none;
    color: white;
}
.index h2{
    text-align: center;
    padding: 2rem;
    font-size: 5rem;
}
.index p{
    font-size: 3rem;
    padding: 1rem;
    text-align: left;
}
.index img{
    width: 50rem;
    height: 50rem;
    text-align: center;
    padding: 10rem 35rem;
}


    
